/* OVERVIEW */

.overview {
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.overview-left {
    padding: 20px 0;
}

.overview > .the-line {
    font-size: 5em;
    font-weight: bold;
    padding: 20px 0 20px 0;
}

.overview > .about {
    color: var(--text-color);
    opacity: .9;
    padding: 30px 30px 15px 0;
    font-size: 1.5em;
}
.overview > .about:hover {
    opacity: 1;
}

.overview > .about > u {
    text-underline-offset: 5px;
    text-decoration-color: var(--contrast-color);
}

/* LINKS */

.social-links-container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 40px;
}

.social-link {
    display: flex !important;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 50px;
    width: 50px;
    margin: 0 40px 40px 0;
    font-size: 1.8em;
    color: white;
    background-color: #000;
    border-radius: 50%;
    box-shadow: 0px 0px 8px 1px var(--contrast-color);
    cursor: pointer;
    transition: box-shadow 1s ease-in-out, scale .6s ease-in-out, transform 1s ease-in-out;
    z-index: 0;
}
.social-link:last-of-type {margin: 0 0px 40px 0;}

.social-link:hover, .social-link:focus {
    box-shadow: 0 0 14px 2px var(--contrast-color);
    transition: box-shadow .1s ease-in-out, scale .1s ease-in-out, transform .1s ease-in-out;
    transform: translateY(-3px);
}

.social-link::after {
    content: attr(data-text);
    position: absolute;
    opacity: 0;
    width: max-content;
    font-size: .55em;
    /* font-weight: bold; */
    background-color: #00222b;
    color: #f8f8f8;
    padding: 3px 8px;
    border-radius: 10px;
    transition: opacity 1s ease-out, transform 0s 1s;
    z-index: -1;
}

.social-link:hover::after, .social-link:active::after {
    transform: translateY(45px);
    opacity: 1;
    transition: opacity .5s ease-out;
}

.twitter:hover {color: #1DA1F2;}
.discord:hover {color: #7289da;}
.spotify:hover {color: #1DB954;}
.stack-overflow:hover {color: #f48024;}

/* PROJECTS */

.projects {
    display: flex;
    flex-direction: column;
}

.s-title {  /* Section Title */
    font-size: 3em;
    font-weight: bold;
    padding: 40px 0;
}

.projects > .projects-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 30px;
}

.projects-container > .project {
    padding: 20px;
    border: 2px solid var(--contrast-color-light);
    border-radius: 10px;
    transition-property: scale, border-color, background-color;
    transition-duration: 1s;
}

.project:hover {
    scale: 1.03;
    transition: .4s;
    border-color: var(--contrast-color);
    background-color: var(--hover-background-color);
}

.project > .title {
    font-size: 2em;
}

.project > .description {
    font-size: 1.5em;
    padding: 20px 0 0 0;
    color: var(--text-color);
}

.project > .bar {
    display: flex;
    align-items: left;
    font-size: 1.4em;
    padding: 20px 0 0 0;
}

.project > .bar > span {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 25px 5px 0;
    margin: auto, 0;
}

.project > .bar > .bar-count > span {  /* Numbers */
    padding: 0 10px;
    margin: auto, 0;
}

.project > .bar > .bar-count > i {  /* Count Icons */
    font-size: 1.1em;
}

.project > .bar > .bar-visit-repo > a {  /* visit repo link */
    font-size: 1.2em;
    color: var(--contrast-color);
    padding: 0 6px;
    border-radius: 4px;
}

.project > .bar > span > a:hover {
    background-color: var(--contrast-color);
    color: white;
}

/* Uses */

.uses-container {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 1fr 1fr;
}
@media screen and (max-width: 800px) {
    .uses-container {
        grid-template-columns: 1fr;
    }
}

.uses-container > .use {
    display: flex;
    padding: 20px;
    border-radius: 10px;
    transition-property: scale, border-color, background-color;
    transition-duration: 1s;
}

.use:hover, .use:focus {
    background-color: var(--hover-background-color);
    scale: 1.03;
    transition: .4s;
}

.use > i {
    display: flex;
    align-items: center;
    font-size: 2.5em;
    padding: 15px 20px 15px 15px;
}

.use > .right {
    margin: auto 0;
}

.use > .right > .title {
    font-size: 1.2em;
    font-weight: bold;
}

.use > .right > .text {
    padding-top: 12px;
    color: var(--text-color);
}

/* FOOTER */

.footer {
    padding-top: 40px;
    margin: 40px 0;
    border-top: 1px solid var(--contrast-color-light);
}

.footer > .footer-text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1em;
    font-weight: bold;
    color: var(--contrast-color);
}

.footer > .footer-links {
    padding-top: 40px;
    width: 100%;
    text-align: center;
    /* color: #ffffffa2 ; */
}

.footer > .footer-links > a {
    color: var(--contrast-color);
}
